# Arquitectura de Streaming en tiempo real. 
#### Autores: Yahya El Baroudi, Samuel Corrionero, Ismael GonzÃ¡lez y Jairo FarfÃ¡n.

In [30]:
import time

print("ðŸ—ï¸ Levantando infraestructura Docker...")
!docker compose -f docker/docker-compose.yml up -d

print("â³ Esperando 30 segundos a que Kafka arranque...")
time.sleep(30) # Damos tiempo a que "caliente"
print("âœ… Infraestructura lista.")

ðŸ—ï¸ Levantando infraestructura Docker...
[+] Running 0/1
 â ‹ Network docker_default  Creating                                        0.1s
[+] Running 0/1
 â ‹ Network docker_default  Creating                                        0.1s
[+] Running 2/3
 âœ” Network docker_default  Created                                         0.1s
 âœ” Container zookeeper     Created                                         0.1s
 â ‹ Container kafka         Creating                                        0.0s
[+] Running 2/3
 âœ” Network docker_default  Created                                         0.1s
 âœ” Container zookeeper     Created                                         0.1s
 â ‹ Container kafka         Creating                                        0.0s
[+] Running 2/3
 âœ” Network docker_default  Created                                         0.1s
 â ™ Container zookeeper     Starting                                        0.2s
 âœ” Container kafka         Created                                         0.0s
[+] Running 2/3
 âœ” Network docker_default  Created                                         0.1s
 â ™ Container zookeeper     Starting                                        0.2s
 âœ” Container kafka         Created                                         0.0s
[+] Running 2/3
 âœ” Network docker_default  Created                                         0.1s
 â ¹ Container zookeeper     Starting                                        0.3s
 âœ” Container kafka         Created                                         0.0s
[+] Running 2/3
 âœ” Network docker_default  Created                                         0.1s
 â ¹ Container zookeeper     Starting                                        0.3s
 âœ” Container kafka         Created                                         0.0s
[+] Running 2/3
 âœ” Network docker_default  Created                                         0.1s
 â ¸ Container zookeeper     Starting                                        0.4s
 âœ” Container kafka         Created                                         0.0s
[+] Running 2/3
 âœ” Network docker_default  Created                                         0.1s
 â ¸ Container zookeeper     Starting                                        0.4s
 âœ” Container kafka         Created                                         0.0s
[+] Running 2/3
 âœ” Network docker_default  Created                                         0.1s
 âœ” Container zookeeper     Started                                         0.5s
 â ™ Container kafka         Starting                                        0.4s
[+] Running 2/3
 âœ” Network docker_default  Created                                         0.1s
 âœ” Container zookeeper     Started                                         0.5s
 â ™ Container kafka         Starting                                        0.4s
[+] Running 2/3
 âœ” Network docker_default  Created                                         0.1s
 âœ” Container zookeeper     Started                                         0.5s
 â ¹ Container kafka         Starting                                        0.5s
[+] Running 2/3
 âœ” Network docker_default  Created                                         0.1s
 âœ” Container zookeeper     Started                                         0.5s
 â ¹ Container kafka         Starting                                        0.5s
[+] Running 2/3
 âœ” Network docker_default  Created                                         0.1s
 âœ” Container zookeeper     Started                                         0.5s
 â ¸ Container kafka         Starting                                        0.6s
[+] Running 2/3
 âœ” Network docker_default  Created                                         0.1s
 âœ” Container zookeeper     Started                                         0.5s
 â ¸ Container kafka         Starting                                        0.6s
[+] Running 3/3
 âœ” Network docker_default  Created                                         0.1s
 âœ” Container zookeeper     Started                                         0.5s
 âœ” Container kafka         Started                                         0.6s
[+] Running 3/3
 âœ” Network docker_default  Created                                         0.1s
 âœ” Container zookeeper     Started                                         0.5s
 âœ” Container kafka         Started                                         0.6s
â³ Esperando 30 segundos a que Kafka arranque...
â³ Esperando 30 segundos a que Kafka arranque...
âœ… Infraestructura lista.
âœ… Infraestructura lista.

In [31]:

import subprocess

print("twitter_simulator: ðŸš€ Iniciando simulador de tweets en segundo plano...")
# Esto lanza el script sin bloquear la celda
productor_process = subprocess.Popen(["python", "src/productor.py"])
print(f"âœ… Productor corriendo (PID: {productor_process.pid})")

twitter_simulator: ðŸš€ Iniciando simulador de tweets en segundo plano...
âœ… Productor corriendo (PID: 35624)

ðŸ”„ Iniciando simulador de Twitter hacia localhost:9092...
ðŸ“© Enviando: quÃ© complicado es configurar #Streaming
ðŸ“© Enviando: quÃ© complicado es configurar #Streaming
ðŸ“© Enviando: estoy aprendiendo mucho con #IA
ðŸ“© Enviando: estoy aprendiendo mucho con #IA
ðŸ“© Enviando: repasando conceptos de #Examen
ðŸ“© Enviando: repasando conceptos de #Examen

In [32]:
# Celda de cÃ³digo
import os
import sys
from pathlib import Path
from pyspark.sql import SparkSession
from pyspark.sql.functions import col, from_json, current_timestamp, window, count, max as max_
from pyspark.sql.types import StructType, StructField, StringType, DoubleType
import pyspark

# ConfiguraciÃ³n del entorno
spark_version = pyspark.__version__.split("+")[0]
os.environ['PYSPARK_SUBMIT_ARGS'] = f'--packages org.apache.spark:spark-sql-kafka-0-10_2.12:{spark_version} pyspark-shell'

output_dir = Path("data")
output_dir.mkdir(exist_ok=True)

# 1. Iniciar Spark
spark = SparkSession.builder \
    .appName("JupyterStreaming") \
    .master("local[*]") \
    .config("spark.sql.shuffle.partitions", "2") \
    .getOrCreate()

spark.sparkContext.setLogLevel("ERROR")

# 2. Lectura
df_raw = spark.readStream \
    .format("kafka") \
    .option("kafka.bootstrap.servers", "localhost:9092") \
    .option("subscribe", "tweets_topic") \
    .option("startingOffsets", "latest") \
    .load()

# 3. Esquema
schema = StructType([
    StructField("usuario", StringType(), True),
    StructField("texto", StringType(), True),
    StructField("hashtag_principal", StringType(), True),
    StructField("timestamp", DoubleType(), True),
])

# 4. Procesamiento
df_parsed = df_raw.selectExpr("CAST(value AS STRING) as json_str") \
    .select(from_json(col("json_str"), schema).alias("data")) \
    .select("data.*") \
    .where(col("hashtag_principal").isNotNull()) \
    .withColumn("ts", current_timestamp())

# 5. AgregaciÃ³n (Ventana de 1 minuto)
conteo = df_parsed \
    .withWatermark("ts", "1 minutes") \
    .groupBy(window(col("ts"), "60 seconds"), col("hashtag_principal")) \
    .agg(count("*").alias("total")) \
    .orderBy(col("total").desc())

# 6. FUNCIÃ“N DE VISUALIZACIÃ“N PARA JUPYTER

def mostrar_en_jupyter(batch_df, batch_id):
    if batch_df.isEmpty():
        return
    pdf = batch_df.limit(10).toPandas()
    print(f"ðŸ“Š ActualizaciÃ³n del Stream - Batch ID: {batch_id}")
    csv_path = output_dir / f"batch_{batch_id}.csv"
    pdf.to_csv(csv_path, index=False)
    print(f"Guardado en {csv_path}")
    print(pdf.to_string(index=False))

# 7. Ejecutar Stream
print("ðŸ“¡ Escuchando... La tabla aparecerÃ¡ abajo ðŸ‘‡")
query = conteo.writeStream \
    .outputMode("complete") \
    .foreachBatch(mostrar_en_jupyter) \
    .trigger(processingTime="5 seconds") \
    .start()

# NOTA: Esta celda se quedarÃ¡ ejecutando "para siempre" (verÃ¡s un asterisco [*]).
# Para pararla, pulsa el botÃ³n de "Stop" (cuadrado) en el menÃº de Jupyter.
query.awaitTermination()

ðŸ“© Enviando: maÃ±ana tengo examen de #IA
ðŸ“¡ Escuchando... La tabla aparecerÃ¡ abajo ðŸ‘‡
ðŸ“© Enviando: increÃ­ble la velocidad de #Examen
ðŸ“© Enviando: increÃ­ble la velocidad de #Examen
ðŸ“© Enviando: maÃ±ana tengo examen de #Spark
ðŸ“© Enviando: maÃ±ana tengo examen de #Spark
ðŸ“© Enviando: maÃ±ana tengo examen de #IA
ðŸ“© Enviando: maÃ±ana tengo examen de #IA
ðŸ“© Enviando: estoy aprendiendo mucho con #Kafka
ðŸ“© Enviando: estoy aprendiendo mucho con #Kafka
ðŸ“© Enviando: estoy aprendiendo mucho con #IA
ðŸ“© Enviando: estoy aprendiendo mucho con #IA
ðŸ“© Enviando: increÃ­ble la velocidad de #Python
ðŸ“© Enviando: increÃ­ble la velocidad de #Python
ðŸ“© Enviando: estoy aprendiendo mucho con #BigData
ðŸ“© Enviando: estoy aprendiendo mucho con #BigData
ðŸ“© Enviando: repasando conceptos de #Examen
ðŸ“© Enviando: repasando conceptos de #Examen
ðŸ“© Enviando: estoy aprendiendo mucho con #Streaming
ðŸ“© Enviando: estoy aprendiendo mucho con #Streaming
ðŸ“© Enviando: estoy aprendiendo mucho con #RealTime
ðŸ“© Enviando: estoy aprendiendo mucho con #RealTime
ðŸ“© Enviando: increÃ­ble la velocidad de #IA
ðŸ“© Enviando: increÃ­ble la velocidad de #IA
ðŸ“© Enviando: increÃ­ble la velocidad de #Python
ðŸ“© Enviando: increÃ­ble la velocidad de #Python
ðŸ“© Enviando: increÃ­ble la velocidad de #Kafka
ðŸ“© Enviando: increÃ­ble la velocidad de #Kafka
ðŸ“© Enviando: quÃ© complicado es configurar #Examen
ðŸ“© Enviando: quÃ© complicado es configurar #Examen
ðŸ“© Enviando: increÃ­ble la velocidad de #RealTime
ðŸ“© Enviando: increÃ­ble la velocidad de #RealTime
ðŸ“© Enviando: estoy aprendiendo mucho con #RealTime
ðŸ“© Enviando: estoy aprendiendo mucho con #RealTime
ðŸ“© Enviando: estoy aprendiendo mucho con #Streaming
ðŸ“© Enviando: estoy aprendiendo mucho con #Streaming
ðŸ“© Enviando: estoy aprendiendo mucho con #Spark
ðŸ“© Enviando: estoy aprendiendo mucho con #Spark
ðŸ“© Enviando: el proyecto de clase usa #Examen
ðŸ“© Enviando: el proyecto de clase usa #Examen
ðŸ“© Enviando: estoy aprendiendo mucho con #Kafka
ðŸ“© Enviando: estoy aprendiendo mucho con #Kafka
ðŸ“© Enviando: repasando conceptos de #Spark
ðŸ“© Enviando: repasando conceptos de #Spark
ðŸ“© Enviando: el proyecto de clase usa #Kafka
ðŸ“© Enviando: el proyecto de clase usa #Kafka
ðŸ“© Enviando: increÃ­ble la velocidad de #BigData
ðŸ“© Enviando: increÃ­ble la velocidad de #BigData
ðŸ“© Enviando: increÃ­ble la velocidad de #Kafka
ðŸ“© Enviando: increÃ­ble la velocidad de #Kafka
ðŸ“© Enviando: repasando conceptos de #BigData
ðŸ“© Enviando: repasando conceptos de #BigData
ðŸ“© Enviando: maÃ±ana tengo examen de #Examen
ðŸ“© Enviando: maÃ±ana tengo examen de #Examen
ðŸ“© Enviando: increÃ­ble la velocidad de #IA
ðŸ“© Enviando: increÃ­ble la velocidad de #IA
ðŸ“© Enviando: estoy aprendiendo mucho con #Streaming
ðŸ“© Enviando: estoy aprendiendo mucho con #Streaming
ðŸ“© Enviando: quÃ© complicado es configurar #Streaming
ðŸ“© Enviando: quÃ© complicado es configurar #Streaming
ðŸ“© Enviando: estoy aprendiendo mucho con #RealTime
ðŸ“© Enviando: estoy aprendiendo mucho con #RealTime
ðŸ“© Enviando: estoy aprendiendo mucho con #Python
ðŸ“© Enviando: estoy aprendiendo mucho con #Python
ðŸ“© Enviando: el proyecto de clase usa #Python
ðŸ“© Enviando: el proyecto de clase usa #Python
ðŸ“© Enviando: increÃ­ble la velocidad de #BigData
ðŸ“© Enviando: increÃ­ble la velocidad de #BigData

ERROR:root:KeyboardInterrupt while sending command.
Traceback (most recent call last):
  File "/home/cofer/anaconda3/envs/arqesp/lib/python3.11/site-packages/py4j/java_gateway.py", line 1038, in send_command
    response = connection.send_command(command)
               ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/home/cofer/anaconda3/envs/arqesp/lib/python3.11/site-packages/py4j/clientserver.py", line 511, in send_command
    answer = smart_decode(self.stream.readline()[:-1])
                          ^^^^^^^^^^^^^^^^^^^^^^
  File "/home/cofer/anaconda3/envs/arqesp/lib/python3.11/socket.py", line 718, in readinto
    return self._sock.recv_into(b)
           ^^^^^^^^^^^^^^^^^^^^^^^
KeyboardInterrupt

ðŸ›‘ Simulador detenido por el usuario.

KeyboardInterrupt:

In [33]:
# Celda de cÃ³digo
# Ejecuta esto SOLO cuando hayas parado la celda anterior
print("ðŸ›‘ Apagando el productor...")
productor_process.kill()

ðŸ›‘ Apagando el productor...

### ðŸ“‚ VisualizaciÃ³n de batches grabados
Los archivos CSV generados por cada batch se guardan en `data/` con el nombre `batch_<runId>.csv`. La siguiente celda lista esos archivos y los carga con pandas para que puedas inspeccionar los resultados despuÃ©s de parar el stream.

In [34]:
from pathlib import Path
import pandas as pd

print("ðŸ“‚ Batches guardados:")
for path in sorted(Path("data").glob("batch_*.csv")):
    print(f"- {path.name}")
    display(pd.read_csv(path))

ðŸ“‚ Batches guardados:
- batch_1.csv

                                              window hashtag_principal  total
0  Row(start=Timestamp('2025-12-15 18:39:00'), en...            #Spark      1

- batch_10.csv

                                              window hashtag_principal  total
0  Row(start=Timestamp('2025-12-15 18:40:00'), en...           #Examen     11
1  Row(start=Timestamp('2025-12-15 18:40:00'), en...               #IA     10
2  Row(start=Timestamp('2025-12-15 18:40:00'), en...            #Spark     10
3  Row(start=Timestamp('2025-12-15 18:40:00'), en...          #BigData      9
4  Row(start=Timestamp('2025-12-15 18:40:00'), en...        #Streaming      8
5  Row(start=Timestamp('2025-12-15 18:40:00'), en...         #RealTime      7
6  Row(start=Timestamp('2025-12-15 18:40:00'), en...            #Kafka      7
7  Row(start=Timestamp('2025-12-15 18:40:00'), en...           #Python      6
8  Row(start=Timestamp('2025-12-15 18:39:00'), en...            #Kafka      3
9  Row(start=Timestamp('2025-12-15 18:39:00'), en...               #IA      3

- batch_11.csv

                                              window hashtag_principal  total
0  Row(start=Timestamp('2025-12-15 18:35:00'), en...            #Spark     15
1  Row(start=Timestamp('2025-12-15 18:35:00'), en...           #Examen     15
2  Row(start=Timestamp('2025-12-15 18:35:00'), en...          #BigData     14
3  Row(start=Timestamp('2025-12-15 18:35:00'), en...         #RealTime     12
4  Row(start=Timestamp('2025-12-15 18:35:00'), en...           #Python     12
5  Row(start=Timestamp('2025-12-15 18:35:00'), en...            #Kafka     11
6  Row(start=Timestamp('2025-12-15 18:35:00'), en...               #IA      6
7  Row(start=Timestamp('2025-12-15 18:35:00'), en...        #Streaming      4
8  Row(start=Timestamp('2025-12-15 18:34:00'), en...            #Spark      3
9  Row(start=Timestamp('2025-12-15 18:34:00'), en...         #RealTime      2

- batch_12.csv

                                              window hashtag_principal  total
0  Row(start=Timestamp('2025-12-15 18:35:00'), en...            #Spark     17
1  Row(start=Timestamp('2025-12-15 18:35:00'), en...          #BigData     16
2  Row(start=Timestamp('2025-12-15 18:35:00'), en...           #Examen     16
3  Row(start=Timestamp('2025-12-15 18:35:00'), en...            #Kafka     13
4  Row(start=Timestamp('2025-12-15 18:35:00'), en...         #RealTime     13
5  Row(start=Timestamp('2025-12-15 18:35:00'), en...           #Python     12
6  Row(start=Timestamp('2025-12-15 18:35:00'), en...               #IA      7
7  Row(start=Timestamp('2025-12-15 18:35:00'), en...        #Streaming      4
8  Row(start=Timestamp('2025-12-15 18:34:00'), en...            #Spark      3
9  Row(start=Timestamp('2025-12-15 18:34:00'), en...         #RealTime      2

- batch_13.csv

                                              window hashtag_principal  total
0  Row(start=Timestamp('2025-12-15 18:35:00'), en...           #Examen     19
1  Row(start=Timestamp('2025-12-15 18:35:00'), en...            #Spark     18
2  Row(start=Timestamp('2025-12-15 18:35:00'), en...          #BigData     18
3  Row(start=Timestamp('2025-12-15 18:35:00'), en...            #Kafka     14
4  Row(start=Timestamp('2025-12-15 18:35:00'), en...         #RealTime     14
5  Row(start=Timestamp('2025-12-15 18:35:00'), en...           #Python     12
6  Row(start=Timestamp('2025-12-15 18:35:00'), en...               #IA      7
7  Row(start=Timestamp('2025-12-15 18:35:00'), en...        #Streaming      6
8  Row(start=Timestamp('2025-12-15 18:34:00'), en...            #Spark      3
9  Row(start=Timestamp('2025-12-15 18:34:00'), en...         #RealTime      2

- batch_14.csv

                                              window hashtag_principal  total
0  Row(start=Timestamp('2025-12-15 18:35:00'), en...           #Examen     23
1  Row(start=Timestamp('2025-12-15 18:35:00'), en...            #Spark     19
2  Row(start=Timestamp('2025-12-15 18:35:00'), en...          #BigData     18
3  Row(start=Timestamp('2025-12-15 18:35:00'), en...            #Kafka     15
4  Row(start=Timestamp('2025-12-15 18:35:00'), en...         #RealTime     15
5  Row(start=Timestamp('2025-12-15 18:35:00'), en...           #Python     13
6  Row(start=Timestamp('2025-12-15 18:35:00'), en...               #IA      8
7  Row(start=Timestamp('2025-12-15 18:35:00'), en...        #Streaming      7
8  Row(start=Timestamp('2025-12-15 18:34:00'), en...            #Spark      3
9  Row(start=Timestamp('2025-12-15 18:34:00'), en...         #RealTime      2

- batch_15.csv

                                              window hashtag_principal  total
0  Row(start=Timestamp('2025-12-15 18:35:00'), en...           #Examen     23
1  Row(start=Timestamp('2025-12-15 18:35:00'), en...            #Spark     19
2  Row(start=Timestamp('2025-12-15 18:35:00'), en...          #BigData     18
3  Row(start=Timestamp('2025-12-15 18:35:00'), en...            #Kafka     15
4  Row(start=Timestamp('2025-12-15 18:35:00'), en...         #RealTime     15
5  Row(start=Timestamp('2025-12-15 18:35:00'), en...           #Python     13
6  Row(start=Timestamp('2025-12-15 18:35:00'), en...               #IA      8
7  Row(start=Timestamp('2025-12-15 18:35:00'), en...        #Streaming      7
8  Row(start=Timestamp('2025-12-15 18:36:00'), en...           #Python      3
9  Row(start=Timestamp('2025-12-15 18:34:00'), en...            #Spark      3

- batch_16.csv

                                              window hashtag_principal  total
0  Row(start=Timestamp('2025-12-15 18:35:00'), en...           #Examen     23
1  Row(start=Timestamp('2025-12-15 18:35:00'), en...            #Spark     19
2  Row(start=Timestamp('2025-12-15 18:35:00'), en...          #BigData     18
3  Row(start=Timestamp('2025-12-15 18:35:00'), en...            #Kafka     15
4  Row(start=Timestamp('2025-12-15 18:35:00'), en...         #RealTime     15
5  Row(start=Timestamp('2025-12-15 18:35:00'), en...           #Python     13
6  Row(start=Timestamp('2025-12-15 18:35:00'), en...               #IA      8
7  Row(start=Timestamp('2025-12-15 18:35:00'), en...        #Streaming      7
8  Row(start=Timestamp('2025-12-15 18:36:00'), en...            #Spark      5
9  Row(start=Timestamp('2025-12-15 18:36:00'), en...           #Python      4

- batch_17.csv

                                              window hashtag_principal  total
0  Row(start=Timestamp('2025-12-15 18:35:00'), en...           #Examen     23
1  Row(start=Timestamp('2025-12-15 18:35:00'), en...            #Spark     19
2  Row(start=Timestamp('2025-12-15 18:35:00'), en...          #BigData     18
3  Row(start=Timestamp('2025-12-15 18:35:00'), en...            #Kafka     15
4  Row(start=Timestamp('2025-12-15 18:35:00'), en...         #RealTime     15
5  Row(start=Timestamp('2025-12-15 18:35:00'), en...           #Python     13
6  Row(start=Timestamp('2025-12-15 18:35:00'), en...               #IA      8
7  Row(start=Timestamp('2025-12-15 18:35:00'), en...        #Streaming      7
8  Row(start=Timestamp('2025-12-15 18:36:00'), en...            #Spark      6
9  Row(start=Timestamp('2025-12-15 18:36:00'), en...           #Python      5

- batch_18.csv

                                              window hashtag_principal  total
0  Row(start=Timestamp('2025-12-15 18:35:00'), en...           #Examen     23
1  Row(start=Timestamp('2025-12-15 18:35:00'), en...            #Spark     19
2  Row(start=Timestamp('2025-12-15 18:35:00'), en...          #BigData     18
3  Row(start=Timestamp('2025-12-15 18:35:00'), en...            #Kafka     15
4  Row(start=Timestamp('2025-12-15 18:35:00'), en...         #RealTime     15
5  Row(start=Timestamp('2025-12-15 18:35:00'), en...           #Python     13
6  Row(start=Timestamp('2025-12-15 18:35:00'), en...               #IA      8
7  Row(start=Timestamp('2025-12-15 18:35:00'), en...        #Streaming      7
8  Row(start=Timestamp('2025-12-15 18:36:00'), en...            #Spark      7
9  Row(start=Timestamp('2025-12-15 18:36:00'), en...               #IA      6

- batch_19.csv

                                              window hashtag_principal  total
0  Row(start=Timestamp('2025-12-15 18:35:00'), en...           #Examen     23
1  Row(start=Timestamp('2025-12-15 18:35:00'), en...            #Spark     19
2  Row(start=Timestamp('2025-12-15 18:35:00'), en...          #BigData     18
3  Row(start=Timestamp('2025-12-15 18:35:00'), en...            #Kafka     15
4  Row(start=Timestamp('2025-12-15 18:35:00'), en...         #RealTime     15
5  Row(start=Timestamp('2025-12-15 18:35:00'), en...           #Python     13
6  Row(start=Timestamp('2025-12-15 18:35:00'), en...               #IA      8
7  Row(start=Timestamp('2025-12-15 18:35:00'), en...        #Streaming      7
8  Row(start=Timestamp('2025-12-15 18:36:00'), en...            #Spark      7
9  Row(start=Timestamp('2025-12-15 18:36:00'), en...               #IA      7

- batch_2.csv

                                              window hashtag_principal  total
0  Row(start=Timestamp('2025-12-15 18:39:00'), en...            #Kafka      3
1  Row(start=Timestamp('2025-12-15 18:39:00'), en...               #IA      3
2  Row(start=Timestamp('2025-12-15 18:39:00'), en...            #Spark      2
3  Row(start=Timestamp('2025-12-15 18:39:00'), en...          #BigData      1
4  Row(start=Timestamp('2025-12-15 18:39:00'), en...           #Examen      1

- batch_20.csv

                                              window hashtag_principal  total
0  Row(start=Timestamp('2025-12-15 18:35:00'), en...           #Examen     23
1  Row(start=Timestamp('2025-12-15 18:35:00'), en...            #Spark     19
2  Row(start=Timestamp('2025-12-15 18:35:00'), en...          #BigData     18
3  Row(start=Timestamp('2025-12-15 18:35:00'), en...            #Kafka     15
4  Row(start=Timestamp('2025-12-15 18:35:00'), en...         #RealTime     15
5  Row(start=Timestamp('2025-12-15 18:35:00'), en...           #Python     13
6  Row(start=Timestamp('2025-12-15 18:35:00'), en...               #IA      8
7  Row(start=Timestamp('2025-12-15 18:36:00'), en...            #Spark      8
8  Row(start=Timestamp('2025-12-15 18:35:00'), en...        #Streaming      7
9  Row(start=Timestamp('2025-12-15 18:36:00'), en...               #IA      7

- batch_21.csv

                                              window hashtag_principal  total
0  Row(start=Timestamp('2025-12-15 18:35:00'), en...           #Examen     23
1  Row(start=Timestamp('2025-12-15 18:35:00'), en...            #Spark     19
2  Row(start=Timestamp('2025-12-15 18:35:00'), en...          #BigData     18
3  Row(start=Timestamp('2025-12-15 18:35:00'), en...            #Kafka     15
4  Row(start=Timestamp('2025-12-15 18:35:00'), en...         #RealTime     15
5  Row(start=Timestamp('2025-12-15 18:35:00'), en...           #Python     13
6  Row(start=Timestamp('2025-12-15 18:36:00'), en...            #Spark     10
7  Row(start=Timestamp('2025-12-15 18:35:00'), en...               #IA      8
8  Row(start=Timestamp('2025-12-15 18:36:00'), en...               #IA      8
9  Row(start=Timestamp('2025-12-15 18:36:00'), en...           #Python      7

- batch_3.csv

                                              window hashtag_principal  total
0  Row(start=Timestamp('2025-12-15 18:39:00'), en...            #Kafka      3
1  Row(start=Timestamp('2025-12-15 18:39:00'), en...               #IA      3
2  Row(start=Timestamp('2025-12-15 18:40:00'), en...        #Streaming      2
3  Row(start=Timestamp('2025-12-15 18:40:00'), en...         #RealTime      2
4  Row(start=Timestamp('2025-12-15 18:40:00'), en...           #Examen      2
5  Row(start=Timestamp('2025-12-15 18:39:00'), en...            #Spark      2
6  Row(start=Timestamp('2025-12-15 18:39:00'), en...          #BigData      1
7  Row(start=Timestamp('2025-12-15 18:40:00'), en...          #BigData      1
8  Row(start=Timestamp('2025-12-15 18:39:00'), en...           #Examen      1
9  Row(start=Timestamp('2025-12-15 18:40:00'), en...               #IA      1

- batch_4.csv

                                              window hashtag_principal  total
0  Row(start=Timestamp('2025-12-15 18:40:00'), en...           #Examen      4
1  Row(start=Timestamp('2025-12-15 18:39:00'), en...            #Kafka      3
2  Row(start=Timestamp('2025-12-15 18:40:00'), en...         #RealTime      3
3  Row(start=Timestamp('2025-12-15 18:39:00'), en...               #IA      3
4  Row(start=Timestamp('2025-12-15 18:40:00'), en...               #IA      3
5  Row(start=Timestamp('2025-12-15 18:40:00'), en...           #Python      3
6  Row(start=Timestamp('2025-12-15 18:40:00'), en...        #Streaming      2
7  Row(start=Timestamp('2025-12-15 18:40:00'), en...            #Kafka      2
8  Row(start=Timestamp('2025-12-15 18:39:00'), en...            #Spark      2
9  Row(start=Timestamp('2025-12-15 18:40:00'), en...            #Spark      2

- batch_5.csv

                                              window hashtag_principal  total
0  Row(start=Timestamp('2025-12-15 18:40:00'), en...           #Examen      7
1  Row(start=Timestamp('2025-12-15 18:40:00'), en...         #RealTime      4
2  Row(start=Timestamp('2025-12-15 18:40:00'), en...        #Streaming      4
3  Row(start=Timestamp('2025-12-15 18:40:00'), en...               #IA      4
4  Row(start=Timestamp('2025-12-15 18:39:00'), en...            #Kafka      3
5  Row(start=Timestamp('2025-12-15 18:39:00'), en...               #IA      3
6  Row(start=Timestamp('2025-12-15 18:40:00'), en...            #Kafka      3
7  Row(start=Timestamp('2025-12-15 18:40:00'), en...            #Spark      3
8  Row(start=Timestamp('2025-12-15 18:40:00'), en...           #Python      3
9  Row(start=Timestamp('2025-12-15 18:40:00'), en...          #BigData      2

- batch_6.csv

                                              window hashtag_principal  total
0  Row(start=Timestamp('2025-12-15 18:40:00'), en...           #Examen      9
1  Row(start=Timestamp('2025-12-15 18:40:00'), en...          #BigData      6
2  Row(start=Timestamp('2025-12-15 18:40:00'), en...            #Kafka      5
3  Row(start=Timestamp('2025-12-15 18:40:00'), en...               #IA      5
4  Row(start=Timestamp('2025-12-15 18:40:00'), en...         #RealTime      4
5  Row(start=Timestamp('2025-12-15 18:40:00'), en...        #Streaming      4
6  Row(start=Timestamp('2025-12-15 18:40:00'), en...            #Spark      4
7  Row(start=Timestamp('2025-12-15 18:39:00'), en...            #Kafka      3
8  Row(start=Timestamp('2025-12-15 18:39:00'), en...               #IA      3
9  Row(start=Timestamp('2025-12-15 18:40:00'), en...           #Python      3

- batch_7.csv

                                              window hashtag_principal  total
0  Row(start=Timestamp('2025-12-15 18:40:00'), en...           #Examen     10
1  Row(start=Timestamp('2025-12-15 18:40:00'), en...          #BigData      7
2  Row(start=Timestamp('2025-12-15 18:40:00'), en...               #IA      7
3  Row(start=Timestamp('2025-12-15 18:40:00'), en...        #Streaming      6
4  Row(start=Timestamp('2025-12-15 18:40:00'), en...            #Kafka      6
5  Row(start=Timestamp('2025-12-15 18:40:00'), en...         #RealTime      5
6  Row(start=Timestamp('2025-12-15 18:40:00'), en...            #Spark      5
7  Row(start=Timestamp('2025-12-15 18:40:00'), en...           #Python      4
8  Row(start=Timestamp('2025-12-15 18:39:00'), en...            #Kafka      3
9  Row(start=Timestamp('2025-12-15 18:39:00'), en...               #IA      3

- batch_8.csv

                                              window hashtag_principal  total
0  Row(start=Timestamp('2025-12-15 18:40:00'), en...           #Examen     11
1  Row(start=Timestamp('2025-12-15 18:40:00'), en...          #BigData      8
2  Row(start=Timestamp('2025-12-15 18:40:00'), en...        #Streaming      8
3  Row(start=Timestamp('2025-12-15 18:40:00'), en...               #IA      8
4  Row(start=Timestamp('2025-12-15 18:40:00'), en...            #Kafka      6
5  Row(start=Timestamp('2025-12-15 18:40:00'), en...            #Spark      6
6  Row(start=Timestamp('2025-12-15 18:40:00'), en...           #Python      6
7  Row(start=Timestamp('2025-12-15 18:40:00'), en...         #RealTime      5
8  Row(start=Timestamp('2025-12-15 18:39:00'), en...            #Kafka      3
9  Row(start=Timestamp('2025-12-15 18:39:00'), en...               #IA      3

- batch_9.csv

                                              window hashtag_principal  total
0  Row(start=Timestamp('2025-12-15 18:40:00'), en...           #Examen     11
1  Row(start=Timestamp('2025-12-15 18:40:00'), en...               #IA      9
2  Row(start=Timestamp('2025-12-15 18:40:00'), en...          #BigData      8
3  Row(start=Timestamp('2025-12-15 18:40:00'), en...        #Streaming      8
4  Row(start=Timestamp('2025-12-15 18:40:00'), en...         #RealTime      7
5  Row(start=Timestamp('2025-12-15 18:40:00'), en...            #Kafka      7
6  Row(start=Timestamp('2025-12-15 18:40:00'), en...            #Spark      7
7  Row(start=Timestamp('2025-12-15 18:40:00'), en...           #Python      6
8  Row(start=Timestamp('2025-12-15 18:39:00'), en...            #Kafka      3
9  Row(start=Timestamp('2025-12-15 18:39:00'), en...               #IA      3

In [35]:

print("ðŸ›‘ Apagando infraestructura...")
!docker compose -f docker/docker-compose.yml down

ðŸ›‘ Apagando infraestructura...
[+] Running 0/1
 â ‹ Container kafka  Stopping                                               0.1s
[+] Running 0/1
 â ‹ Container kafka  Stopping                                               0.1s
[+] Running 0/1
 â ™ Container kafka  Stopping                                               0.2s
[+] Running 0/1
 â ™ Container kafka  Stopping                                               0.2s
[+] Running 0/1
 â ¹ Container kafka  Stopping                                               0.3s
[+] Running 0/1
 â ¹ Container kafka  Stopping                                               0.3s
[+] Running 0/1
 â ¸ Container kafka  Stopping                                               0.4s
[+] Running 0/1
 â ¸ Container kafka  Stopping                                               0.4s
[+] Running 0/1
 â ¼ Container kafka  Stopping                                               0.5s
[+] Running 0/1
 â ¼ Container kafka  Stopping                                               0.5s
[+] Running 0/1
 â ´ Container kafka  Stopping                                               0.6s
[+] Running 0/1
 â ´ Container kafka  Stopping                                               0.6s
[+] Running 0/1
 â ¦ Container kafka  Stopping                                               0.7s
[+] Running 0/1
 â ¦ Container kafka  Stopping                                               0.7s
[+] Running 0/1
 â § Container kafka  Stopping                                               0.8s
[+] Running 0/1
 â § Container kafka  Stopping                                               0.8s
[+] Running 0/1
 â ‡ Container kafka  Stopping                                               0.9s
[+] Running 0/1
 â ‡ Container kafka  Stopping                                               0.9s
[+] Running 0/1
 â  Container kafka  Stopping                                               1.0s
[+] Running 0/1
 â  Container kafka  Stopping                                               1.0s
[+] Running 0/1
 â ‹ Container kafka  Removing                                               1.1s
[+] Running 0/1
 â ‹ Container kafka  Removing                                               1.1s
[+] Running 1/2
 âœ” Container kafka      Removed                                            1.1s
 â ‹ Container zookeeper  Stopping                                           0.1s
[+] Running 1/2
 âœ” Container kafka      Removed                                            1.1s
 â ‹ Container zookeeper  Stopping                                           0.1s
[+] Running 1/2
 âœ” Container kafka      Removed                                            1.1s
 â ™ Container zookeeper  Stopping                                           0.2s
[+] Running 1/2
 âœ” Container kafka      Removed                                            1.1s
 â ™ Container zookeeper  Stopping                                           0.2s
[+] Running 1/2
 âœ” Container kafka      Removed                                            1.1s
 â ¹ Container zookeeper  Stopping                                           0.3s
[+] Running 1/2
 âœ” Container kafka      Removed                                            1.1s
 â ¹ Container zookeeper  Stopping                                           0.3s
[+] Running 1/2
 âœ” Container kafka      Removed                                            1.1s
 â ¸ Container zookeeper  Stopping                                           0.4s
[+] Running 1/2
 âœ” Container kafka      Removed                                            1.1s
 â ¸ Container zookeeper  Stopping                                           0.4s
[+] Running 1/2
 âœ” Container kafka      Removed                                            1.1s
 â ¼ Container zookeeper  Stopping                                           0.5s
[+] Running 1/2
 âœ” Container kafka      Removed                                            1.1s
 â ¼ Container zookeeper  Stopping                                           0.5s
[+] Running 1/2
 âœ” Container kafka      Removed                                            1.1s
 â ´ Container zookeeper  Stopping                                           0.6s
[+] Running 1/2
 âœ” Container kafka      Removed                                            1.1s
 â ´ Container zookeeper  Stopping                                           0.6s
[+] Running 1/2
 âœ” Container kafka      Removed                                            1.1s
 â ¦ Container zookeeper  Stopping                                           0.7s
[+] Running 1/2
 âœ” Container kafka      Removed                                            1.1s
 â ¦ Container zookeeper  Stopping                                           0.7s
[+] Running 2/3
 âœ” Container kafka         Removed                                         1.1s
 âœ” Container zookeeper     Removed                                         0.7s
 â ‹ Network docker_default  Removing                                        0.0s
[+] Running 2/3
 âœ” Container kafka         Removed                                         1.1s
 âœ” Container zookeeper     Removed                                         0.7s
 â ‹ Network docker_default  Removing                                        0.0s
[+] Running 2/3
 âœ” Container kafka         Removed                                         1.1s
 âœ” Container zookeeper     Removed                                         0.7s
 â ™ Network docker_default  Removing                                        0.1s
[+] Running 3/3
 âœ” Container kafka         Removed                                         1.1s
 âœ” Container zookeeper     Removed                                         0.7s
 âœ” Network docker_default  Removed                                         0.1s
[+] Running 2/3
 âœ” Container kafka         Removed                                         1.1s
 âœ” Container zookeeper     Removed                                         0.7s
 â ™ Network docker_default  Removing                                        0.1s
[+] Running 3/3
 âœ” Container kafka         Removed                                         1.1s
 âœ” Container zookeeper     Removed                                         0.7s
 âœ” Network docker_default  Removed                                         0.1s

25/12/15 18:44:03 ERROR MicroBatchExecution: Query [id = d0068d75-9763-4318-8c6a-f65a68286287, runId = 4f546360-88a1-4ca3-87d6-46eaefb32fd7] terminated with error
java.util.concurrent.ExecutionException: org.apache.kafka.common.errors.TimeoutException: Timed out waiting for a node assignment. Call: describeTopics
	at java.base/java.util.concurrent.CompletableFuture.reportGet(CompletableFuture.java:396)
	at java.base/java.util.concurrent.CompletableFuture.get(CompletableFuture.java:2073)
	at org.apache.kafka.common.internals.KafkaFutureImpl.get(KafkaFutureImpl.java:165)
	at org.apache.spark.sql.kafka010.ConsumerStrategy.retrieveAllPartitions(ConsumerStrategy.scala:66)
	at org.apache.spark.sql.kafka010.ConsumerStrategy.retrieveAllPartitions$(ConsumerStrategy.scala:65)
	at org.apache.spark.sql.kafka010.SubscribeStrategy.retrieveAllPartitions(ConsumerStrategy.scala:102)
	at org.apache.spark.sql.kafka010.SubscribeStrategy.assignedTopicPartitions(ConsumerStrategy.scala:113)
	at org.apache.spark.sql.kafka010.KafkaOffsetReaderAdmin.$anonfun$partitionsAssignedToAdmin$1(KafkaOffsetReaderAdmin.scala:499)
	at org.apache.spark.sql.kafka010.KafkaOffsetReaderAdmin.withRetries(KafkaOffsetReaderAdmin.scala:518)
	at org.apache.spark.sql.kafka010.KafkaOffsetReaderAdmin.partitionsAssignedToAdmin(KafkaOffsetReaderAdmin.scala:498)
	at org.apache.spark.sql.kafka010.KafkaOffsetReaderAdmin.fetchLatestOffsets(KafkaOffsetReaderAdmin.scala:297)
	at org.apache.spark.sql.kafka010.KafkaMicroBatchStream.latestOffset(KafkaMicroBatchStream.scala:130)
	at org.apache.spark.sql.execution.streaming.MicroBatchExecution.$anonfun$constructNextBatch$4(MicroBatchExecution.scala:491)
	at org.apache.spark.sql.execution.streaming.ProgressReporter.reportTimeTaken(ProgressReporter.scala:427)
	at org.apache.spark.sql.execution.streaming.ProgressReporter.reportTimeTaken$(ProgressReporter.scala:425)
	at org.apache.spark.sql.execution.streaming.StreamExecution.reportTimeTaken(StreamExecution.scala:67)
	at org.apache.spark.sql.execution.streaming.MicroBatchExecution.$anonfun$constructNextBatch$2(MicroBatchExecution.scala:490)
	at scala.collection.TraversableLike.$anonfun$map$1(TraversableLike.scala:286)
	at scala.collection.Iterator.foreach(Iterator.scala:943)
	at scala.collection.Iterator.foreach$(Iterator.scala:943)
	at scala.collection.AbstractIterator.foreach(Iterator.scala:1431)
	at scala.collection.IterableLike.foreach(IterableLike.scala:74)
	at scala.collection.IterableLike.foreach$(IterableLike.scala:73)
	at scala.collection.AbstractIterable.foreach(Iterable.scala:56)
	at scala.collection.TraversableLike.map(TraversableLike.scala:286)
	at scala.collection.TraversableLike.map$(TraversableLike.scala:279)
	at scala.collection.AbstractTraversable.map(Traversable.scala:108)
	at org.apache.spark.sql.execution.streaming.MicroBatchExecution.$anonfun$constructNextBatch$1(MicroBatchExecution.scala:479)
	at scala.runtime.java8.JFunction0$mcZ$sp.apply(JFunction0$mcZ$sp.java:23)
	at org.apache.spark.sql.execution.streaming.MicroBatchExecution.withProgressLocked(MicroBatchExecution.scala:810)
	at org.apache.spark.sql.execution.streaming.MicroBatchExecution.constructNextBatch(MicroBatchExecution.scala:475)
	at org.apache.spark.sql.execution.streaming.MicroBatchExecution.$anonfun$runActivatedStream$2(MicroBatchExecution.scala:268)
	at scala.runtime.java8.JFunction0$mcV$sp.apply(JFunction0$mcV$sp.java:23)
	at org.apache.spark.sql.execution.streaming.ProgressReporter.reportTimeTaken(ProgressReporter.scala:427)
	at org.apache.spark.sql.execution.streaming.ProgressReporter.reportTimeTaken$(ProgressReporter.scala:425)
	at org.apache.spark.sql.execution.streaming.StreamExecution.reportTimeTaken(StreamExecution.scala:67)
	at org.apache.spark.sql.execution.streaming.MicroBatchExecution.$anonfun$runActivatedStream$1(MicroBatchExecution.scala:249)
	at org.apache.spark.sql.execution.streaming.ProcessingTimeExecutor.execute(TriggerExecutor.scala:67)
	at org.apache.spark.sql.execution.streaming.MicroBatchExecution.runActivatedStream(MicroBatchExecution.scala:239)
	at org.apache.spark.sql.execution.streaming.StreamExecution.$anonfun$runStream$1(StreamExecution.scala:311)
	at scala.runtime.java8.JFunction0$mcV$sp.apply(JFunction0$mcV$sp.java:23)
	at org.apache.spark.sql.SparkSession.withActive(SparkSession.scala:900)
	at org.apache.spark.sql.execution.streaming.StreamExecution.org$apache$spark$sql$execution$streaming$StreamExecution$$runStream(StreamExecution.scala:289)
	at org.apache.spark.sql.execution.streaming.StreamExecution$$anon$1.$anonfun$run$1(StreamExecution.scala:211)
	at scala.runtime.java8.JFunction0$mcV$sp.apply(JFunction0$mcV$sp.java:23)
	at org.apache.spark.JobArtifactSet$.withActiveJobArtifactState(JobArtifactSet.scala:94)
	at org.apache.spark.sql.execution.streaming.StreamExecution$$anon$1.run(StreamExecution.scala:211)
Caused by: org.apache.kafka.common.errors.TimeoutException: Timed out waiting for a node assignment. Call: describeTopics